@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Allows a user to create a workout by selecting exercises and indicating the number of sets and reps of each exercise.  Users can also add aditional exercises to the exercise list.</p>
