@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>*@

<h2>This is how to get in touch with me</h2>

<address><h5>
    Melanie S. Davis<br />
    Floyds Knobs, IN 47119<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</h5></address>

<address>
    <strong>Support:</strong>   <a href="mailto:melaniesdavis@hotmail.com">Email Melanie</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>