@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center text-danger">Workout Builder</h1>
    <h5 class="text-center">Welcome to Workout Builder!</h5>
    <h5 class="text-center">What would you like to do?</h5>
</div>

<div class="row">
    <div class="col-md-3">
        <h3><a href="../RepSets/Index">RepSets</a></h3>
        <h6>
            Allows you to view, add, edit, and delete sets of repetitions.
        </h6>
    </div>
    <div class="col-md-3 col-lg-offset-1">
        <h3><a href="../Exercises/Index">Exercises</a></h3>
        <h6>
            Allows you to view, add, edit, and delete exercises.
        </h6>
    </div>

    <div class="col-md-3 col-lg-offset-1">
        <h3><a href="../Workouts/Index">Workouts</a></h3>
        <h6>Allows you to view, add, edit, and delete workouts.</h6>
    </div>
</div>